html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: rgba(234, 234, 234, 0.5);
    background-image: url(../images/bg-image.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
    color: #777;
}

h2 {
    font-size: 30px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    color: #4aaaa5;
}

nav {
    /*height: 100px;*/
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
    background-color: #666;
    border-width: 8px 0 0 0;
    border-style: solid;
    border-color: #4aaaa5;
}

article {
    margin-bottom: 10px;
}

button {
    display: block;
    height: 40px;
    width: 120px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    margin: 20px 10px 20px 0px;
    border: 0;
    background-color: #4aaaa5;
}

button:hover {
    background-color: #cae8e6;
}

.container-fluid {
    height: 100px;
}

.title-text {
    padding: 20px;
}

.thumbnail {
    float: left;
}

.images {
    position: relative;
    display: inline-block;
    margin: 10px 10px;
    width: 260px;
}

p.bannerText {
    position: absolute;
    text-align: center;
    height: 40px;
    bottom: 10px;
    width: 270px;
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #4aaaa5;
}

.panel-default {
    padding: 10px 20px;
}

.panel-default>.panel-heading {
    background-color: #fff;
}

.panel-title {
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    background-color: #fff;
    color: #4aaaa5;
}

.panel-body {
    width: 100%;
    padding: 15px 30px;
}

#navbar {
    margin-right: 100px;
}

#navbar a {
    font-family: sans-serif;
    font-size: 22px;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a.brand {
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 100px;
    padding: 35px 15px 20px 15px;
    height: 100px;
    width: auto;
    color: #fff;
    background-color: #4aaaa5;
}

#navbar>ul.navbar-right {
    height: 80px;
}

#navbar .navbar-right>li {
    margin-top: 20px;
    padding: 20px;
}

#navbar .navbar-right>li:not(:last-child):after {
    content: "|";
    color: #e4e3e3;
    margin-left: 30px;
}

#main-content {
    height: auto;
    line-height: 1.5;
    border: 2px;
    border-color: #ddd;
    border-style: solid;
    background-color: #fff;
    padding: 10px 40px;
}

#main-content>h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    padding: 20px;
    color: #4aaaa5;
}

#main-content>img {
    float: left;
    padding: 20px;
}

#main-content>p {
    padding: 20px;
}

#contact-area {
    /*width: 270px;
  height: auto;*/
    /*background-color: #fff;*/
}

#img-box {
    display: inline-block;
    margin: 20px 0px;
}

#img-box img {
    height: 70px;
    width: 70px;
    margin: 5px;
    padding: 0;
}
